<!doctype html>
<html>

<head>
    {% if title %}
    <title>{{ title }} - HeroQuest Assistant</title>
    {% else %}
    <title>Welcome to the HeroQuest Assistant</title>
    {% endif %}
</head>

<body>
    <div>
        HeroQuest Assistant:
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('view_heroes') }}">View Heroes</a>
        <a href="{{ url_for('create_hero') }}">Create Hero</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
    {% block content %}{% endblock %}
</body>

</html>
