/* styles.css */
.hero-box {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 50px; /* Adjust this value to control the spacing */
    background-color: #f7f7f7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
